*{
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  padding: auto;
}


body{
  background-color: #A9A9A9;
  color: seashell;
}
form{
  padding-top: 20px;
  background-color: #708090;
  color: #2C2C2C;
  width: 400px;
  border-radius: 10px;
  margin-bottom: 30px;
}
h1{
  color: black;
  font-family: "Alex Brush", cursive;
  padding: 20px;
  font-size: 50px;
}
h2{
  text-transform:uppercase;
  padding: 20px;
}
input{
  display: block;
  width: 95%;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: #A0A9A9;
  text-align: left;
  margin-bottom: 10px;
  margin-top: -5px;
  border: 2px solid #A9A9A9;
}
input:focus{
  border: 2px solid black;
  outline: none;
}
label{
  width: 95%;
  height: 25px;
  text-align: left;
  display: block;
}

hr{
  margin-top: 20px;
  background-color: #A0A9A9;
  border: none;
  height: 3px;
}

button{
  margin-top: 20px;
  margin-bottom: 20px;
  background: linear-gradient(0, #A9A9A9, #879292);
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-size: 15px;
}
button:hover {
  background: linear-gradient(0, #879292, #A9A9A9);
}

p{
  text-align: left;
}