*{
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  padding: auto;
}


body{
  background-color: #A9A9A9;
  color: seashell;
}
form{
  padding-top: 20px;
  background-color: #708090;
  color: #2C2C2C;
  width: 400px;
  border-radius: 10px;
  margin-bottom: 30px;
}
h1{
  color: black;
  font-family: "Alex Brush", cursive;
  padding: 20px;
  font-size: 50px;
}
h2{
  text-transform:uppercase;
  padding: 20px;
}
input{
  display: block;
  width: 95%;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: #A0A9A9;
  text-align: left;
}

label{
  width: 95%;
  height: 25px;
  background-color: white;
  text-align: left;
}

hr{
  margin-top: 20px;
  background-color: #A0A9A9;
  border: none;
  height: 3px;
}

button{
  margin-top: 20px;
  margin-bottom: 20px;
}